<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.atulparida.spacemate">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Spacemate"
        tools:targetApi="31">
        <activity
            android:name=".login_assets.ForgotPasswordActivity"
            android:exported="false"
            android:launchMode="singleTop"/>
        <activity
            android:name=".login_assets.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".settings_assets.AboutActivity"
            android:exported="false" />
        <activity
            android:name=".settings_assets.SettingsActivity"
            android:exported="true" />
        <activity
            android:name=".CommonLocationActivity"
            android:exported="false" />
        <activity
            android:name=".profile_assets.ProfileActivity"
            android:exported="true" />
        <activity
            android:name=".login_assets.SplashActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:icon="@drawable/logo"
            android:theme="@style/Theme.Spacemate.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login_assets.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">

        </activity>
    </application>

</manifest>